nav {
    gap: 15px;
    ul {
        display: flex;
        gap: 15px;
    }

    .register-menu {
        svg {
            height: 14px;
            margin-top: 5px;
        }

        .profile-menu-dropdown {
            top: 30px;
            background: white;
            padding: 10px 15px;
            width: 100px;
            border-radius: 6px;
            box-shadow: var(--box-shadow);
        }
    }
}
