.filter-container {
    .filters-wrapper {
        > div {
            // Direct filter containers with just div
            margin-bottom: 10px;

            label {
                cursor: pointer;
            }
        }
        h6 {
            margin-bottom: 10px;
        }

        .accordion-container {
            max-width: 275px;
            overflow: hidden;
            .accordion-title {
                padding: 10px 21px;
            }
        }
    }
}

// Mobile Styles

.filter-container {
    .filters-wrapper {
        .accordion-container {
            max-width: 100%;
        }
    }
}
