.filter-container {
    .filters-wrapper {
        > div {
            label {
                cursor: pointer;
            }
        }
        h6 {
            margin-bottom: 10px;
        }

        .accordion-container {
            max-width: 250px;
            overflow: hidden;
            .accordion-title {
                padding: 10px 21px;
            }
        }
    }
}

// Mobile Styles

@media (max-width: 767px) {
    .filter-container {
        .filters-wrapper {
            .accordion-container {
                max-width: 100%;
            }
        }
    }
}
