:root {
    --primary-pink: #fe46ae;
    --pink-shade: #ffafcc;
    --secondary-blue: #bde0fe;
    --shade-blue: #a2d2ff;
    --footer-bg: #324e65;
    --dark-blue: #06283d;
    --text-color: #333;
    --black: #000;
    --white: #fff;
    --light-gray: #f2fafa;
    --border-color: #d9d9d9;
    --error: #d9475c;
    --text-gray: #808080;
    --hover-gray: #f1f1f2;
    --disabledBg: #c7c7c7;
    --grayBg: #f7f7f7;
}
