.forgot-password-page {
    .form-section {
        max-width: 480px;
        padding: 30px;
        background: var(--white);
        border-radius: var(--borderRadius);
        box-shadow: var(--box-shadow);
        input {
            width: 100% !important;
        }
    }

    .email-sent-message {
        font-weight: bold;
    }
    .forgot-password-button > button {
        width: 100%;
        margin-top: 15px;
    }
}
